{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>
    <a href="{{ path('utilisateur_index') }}">back to list</a>

    {{ include('utilisateur/_form.html.twig') }}

{% endblock %}
